body {
  color: #c8c8c8;
background-color: #272b30;
font-size: 13px;
overflow: hidden;
}

textarea {
  background-color: #000000;
  font-size: 11px;
  color: #a8ffa8;
  resize: none;
  outline: none;

}

#simcontrol {
  position:absolute;
  bottom: 0px;
  height: 180px;
  width: 100%;
  padding: 10px;
  border-top: 2px solid #c8c8c8;
  background-color: #1C1E22;
}

#simcontrol textarea {
  width: 100%;
  margin-top: 10px;
  height: 110px;
}

#page-content {
  overflow-y: scroll;
  height: calc(100vh - 180px);
  /* height: 765px; */
}

.drewbtnwidth {
  min-width: 100px;
}
