#frame-0, #frame-1, .frame {
    background-repeat: no-repeat
}

#frame-1, .frame {
    margin: 0 auto
}

@font-face {
    font-family: Roboto;
    src: url(./assets/roboto-v18.woff2) format('woff2')
}

body {
    font-size: 13px;
    font-family: Roboto, sans-serif;
}

div.connector-key-card-header, div.slot .header {
    font-family: Tahoma;
    line-height: 19px;
    font-weight: 700
}

.well hr {
    border-top: 1px solid #4f5761
}

#page-content, nav.navbar {
    min-width: 712px
}

.link {
    color: #bb161d;
    cursor: pointer
}

.link:hover {
    color: #e02027
}

#frame-indicator {
    position: relative
}

div.slot, div.slot .header {
    position: absolute
}

#frame-indicator img {
    cursor: pointer;
    text-align: center;
    width: 400px
}

#frame-indicator img.active {
    display: inline
}

div.slot .header {
    background-color: #fff;
    height: 19px;
    color: #fff;
    font-size: 11px
}

div.slot .connectors {
    background-color: #2c3539;
    position: absolute;
    background-clip: border-box;
    background-origin: border-box
}

div.slot.selectable .connectors:hover {
    border: 2px dashed #bb161d
}

div.slot.selectable.selected .connectors, div.slot.selectable.selected .connectors:hover {
    border: 2px solid #bb161d
}

.frame {
    position: relative
}

.frame.active {
    display: block
}

.frame .card-0 .connectors, .frame .card-20 .connectors {
    background-image: url(./img/card-dvi.png)
}

.frame .card-1 .connectors, .frame .card-21 .connectors {
    background-image: url(./img/card-sdi.png)
}

.frame .card-2 .connectors {
    background-image: url(./img/card-hdmi-dp.png)
}

.frame .card-22 .connectors {
    background-image: url(./img/card-hdmi.png)
}

.frame .card-3 .connectors {
    background-image: url(./img/card-tc.png)
}

.frame .card-23 .connectors {
    background-image: url(./img/card-dp.png)
}

.frame .card-4 .connectors {
    background-image: url(./img/card-hdmi.png)
}

.frame .card-5 .connectors {
    background-image: url(./img/card-dp.png)
}

.frame .card-25 .connectors {
    background-image: url(./img/card-tc.png)
}

.frame .card-26 .connectors, .frame .card-40 .connectors {
    background-image: url(./img/card-hdmi.png)
}

.frame .card-70 .connectors {
    background-image: url(./img/card-exp.png)
}

#frame-0 {
    height: 250px;
    width: 662px;
    background-image: url(./img/frame-0.png)
}

#frame-0 .slot {
    top: 3px
}

#frame-0 .slot .header {
    width: 45px
}

#frame-0 .slot .connectors {
    position: absolute;
    top: 20px;
    width: 45px;
    height: 183px
}

#frame-0 .slot-0 {
    left: 3px
}

#frame-0 .slot-1 {
    left: 50px
}

#frame-0 .slot-2 {
    left: 97px
}

#frame-0 .slot-3 {
    left: 144px
}

#frame-0 .slot-4 {
    left: 191px
}

#frame-0 .slot-5 {
    left: 238px
}

#frame-0 .slot-6 {
    left: 285px
}

#frame-0 .slot-7 {
    left: 332px
}

#frame-0 .slot-8 {
    left: 379px
}

#frame-0 .slot-9 {
    left: 426px
}

#frame-0 .slot-10 {
    left: 473px
}

#frame-0 .slot-11 {
    left: 520px
}

#frame-0 .slot-12 {
    left: 567px
}

#frame-0 .slot-13 {
    left: 614px
}

#frame-1 {
    height: 209px;
    width: 662px;
    background-image: url(./img/frame-1.png);
    position: relative
}

#frame-1 .slot {
    top: 3px
}

#frame-1 .slot .header {
    width: 45px
}

#frame-1 .slot .connectors {
    top: 20px;
    width: 45px;
    height: 183px
}

#frame-1 .slot-0 {
    left: 238px
}

#frame-1 .slot-1 {
    left: 285px
}

#frame-1 .slot-2 {
    left: 332px
}

#frame-1 .slot-3 {
    left: 379px
}

#frame-1 .slot-4 {
    left: 426px
}

#frame-1 .slot-5 {
    left: 473px
}

#frame-1 .slot-6 {
    left: 520px
}

#frame-1 .slot-7 {
    left: 567px
}

#frame-1 .slot-8 {
    left: 614px
}

#frame-1 .slot-9 {
    left: 661px
}

#frame-1 .slot-10 {
    left: 708px
}

#frame-1 .slot-11 {
    left: 755px
}

#frame-1 .slot-12 {
    left: 802px
}

#frame-1 .slot-13 {
    left: 849px
}

#frame-2 {
    height: 72px;
    width: 660px;
    background-image: url(./img/frame-2.png)
}

#frame-2 .slot {
    top: 3px
}

#frame-2 .slot .header {
    width: 182px
}

#frame-2 .slot .connectors {
    height: 45px;
    width: 182px;
    top: 21px
}

#frame-2 .slot-0 {
    left: 226px
}

#frame-2 .slot-0 .connectors, #frame-2 .slot-0 .header {
    width: 63px
}

#frame-2 .slot-1 {
    left: 291px
}

#frame-2 .slot-2 {
    left: 475px
}

#frame-2 .card-0 .connectors, #frame-2 .card-20 .connectors {
    background-image: url(./img/card-dvi-90.png)
}

#frame-2 .card-1 .connectors, #frame-2 .card-21 .connectors {
    background-image: url(./img/card-sdi-90.png)
}

#frame-2 .card-2 .connectors {
    background-image: url(./img/card-hdmi-dp-90.png)
}

#frame-2 .card-22 .connectors {
    background-image: url(./img/card-hdmi-90.png)
}

#frame-2 .card-3 .connectors {
    background-image: url(./img/card-tc-90.png)
}

#frame-2 .card-23 .connectors {
    background-image: url(./img/card-dp-90.png)
}

#frame-2 .card-4 .connectors {
    background-image: url(./img/card-hdmi-90.png)
}

#frame-2 .card-26 .connectors {
    background-image: url(./img/card-hdmi-90.png)
}

#frame-2 .card-5 .connectors {
    background-image: url(./img/card-dp-90.png)
}

#frame-2 .card-25 .connectors {
    background-image: url(./img/card-tc-90.png)
}

#frame-2 .card-40 .connectors {
    background-image: url(./img/card-hdmi-90.png)
}

#frame-2 .card-70 .connectors {
    background-image: url(./img/card-exp-ex.png)
}

#frame-3 {
    height: 72px;
    width: 597px;
    background-image: url(./img/frame-3.png)
}

#frame-3 .slot {
    top: 3px
}

#frame-3 .slot .header {
    width: 182px
}

#frame-3 .slot .connectors {
    height: 45px;
    width: 182px;
    top: 21px
}

#frame-3 .slot-0 {
    left: 226px
}

#frame-3 .slot-0 .connectors, #frame-3 .slot-0 .header {
    width: 63px
}

#frame-3 .slot-1 {
    left: 227px
}

#frame-3 .slot-2 {
    left: 412px
}

#frame-3 .card-0 .connectors, #frame-3 .card-20 .connectors {
    background-image: url(./img/card-dvi-90.png)
}

#frame-3 .card-1 .connectors, #frame-3 .card-21 .connectors {
    background-image: url(./img/card-sdi-90.png)
}

#frame-3 .card-2 .connectors {
    background-image: url(./img/card-hdmi-dp-90.png)
}

#frame-3 .card-22 .connectors {
    background-image: url(./img/card-hdmi-90.png)
}

#frame-3 .card-3 .connectors {
    background-image: url(./img/card-tc-90.png)
}

#frame-3 .card-23 .connectors {
    background-image: url(./img/card-dp-90.png)
}

#frame-3 .card-4 .connectors {
    background-image: url(./img/card-hdmi-90.png)
}

#frame-3 .card-25 .connectors {
    background-image: url(./img/card-tc-90.png)
}

#frame-3 .card-40 .connectors {
    background-image: url(./img/card-hdmi-90.png)
}

#frame-3 .card-70 .connectors {
    background-image: url(./img/card-exp-ex.png)
}

#selection-controls {
    font-size: 1.3em;
    margin: none
}

#selection-controls li {
    padding: 0 1.2em;
    margin: .4em 10px 0;
    cursor: pointer;
    color: #bb161d
}

#selection-controls li:hover {
    color: #e02027
}

#card-select button {
    margin: 0 4px
}

#card-select img {
    border: 1px solid rgba(0, 0, 0, .4);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .6);
    margin-bottom: 1em
}

#link-select table td {
    vertical-align: middle
}

#link-select table div.form-group, #link-select table p {
    margin-top: 6px;
    margin-bottom: 6px
}

div.connector-key-card {
    float: left;
    margin-right: 6px;
    position: relative;
    background-color: #2c3539;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, .6);
    width: 45px;
    height: 162px
}

div.connector-key-card-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 19px;
    font-size: 11px;
    color: #fff
}

div.connector-key-connector {
    position: absolute;
    width: 29px;
    height: 48px;
    line-height: 48px;
    background-color: #bb161d;
    left: 8px;
    color: #fff
}

div.connector-key-connector.top-link {
    top: 32px
}

div.connector-key-connector.bottom-link {
    top: 98px
}

div.connector-key-connector.active {
    background-color: green
}

div.connector-key-connector.dimmed {
    background-color: #444
}

p.link-from-text {
    font-size: 1.2em;
    line-height: 2em;
    letter-spacing: .1em
}

tr.link-row div.input-group div {
    border-left: 0 !important
}

#info-tables {
    padding: 0 28px
}

#info-tables table {
    text-align: left;
    vertical-align: top;
    margin: 20px 0
}

#info-tables td {
    padding-left: 8px
}

#output-buttons button {
    margin: 0 20px
}

#output-buttons button span {
    font-size: 1.2em
}

div.instructions p.title {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1em
}

div.instructions img {
    margin-bottom: 1em;
    box-shadow: 2px 2px 15px 0 #000;
    border-radius: 4px
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center
}
